/*  primary color:  #757575 */
/* secondary color: #212121   */
/*  footer color: rgba(255, 255, 255, 0.6) */
/* accent color: #2196F3; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-color: rgba(255, 255, 255, 0.6);

  --secondary-backgroung-color: #f5f4fa;
  --footer-backgroung-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

h2,
h3 {
  color: var(--title-text-color);
}
.list {
  list-style: none;
}

/* header */
.nav {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-type {
  color: var(--primary-black-color);
}
.nav-link {
  color: var(--title-text-color);
  text-decoration: none;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);
}
.nav .nav-link.current {
  color: var(--accent-color);
}
.nav-contacts {
  color: var(--primary-text-color);
  text-decoration: none;
}
.nav-contacts:focus,
.nav-contacts:hover {
  color: var(--accent-color);
}
/* hero */
.hero-title {
  color: var(--primary-white-color);
  background-color: var(--footer-backgroung-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/* main */

/* features */
.features-title {
  font-weight: bold;
  text-transform: uppercase;
}
.features-description {
  line-height: 1.71;
}
/* works */
.title-section {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* team */
.team {
  background-color: var(--secondary-backgroung-color);
}
.member-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.description-member {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
}
/* portfolio */
/* buttons */
.button {
  background-color: var(--secondary-backgroung-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62x;
  text-align: center;
}
.button:focus,
.button:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* content portfolio */
.portfolio-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.portfolio-filter {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}
.decor {
  text-decoration: none;
}
/* footer */
.footer {
  background-color: var(--footer-backgroung-color);
}
.logo-footer {
  color: var(--primary-white-color);
}

.footer-address {
  color: var(--primary-white-color);
  line-height: 1.71;
}
.footer-contacts {
  color: var(--footer-color);
  line-height: 1.71;
  text-decoration: none;
}
.footer-contacts:focus,
.footer-contacts:hover {
  color: var(--accent-color);
}
